*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --bg-color: #F7F2E8;
  --title-color: #1A1A1A;
  --headings-color:#3C0E0E;
  --brand-color: #431B1B;
}

a, li{
  text-decoration: none;
  list-style: none;
}

p{
  line-height: 1.2;
}