/*
******************************
  1- Import
  2- Global settings
  3 - Header
  4- 
  5- Coffe
  6- Croissants
  7- House
  8- About
  9- Contact
  10- Footer
  *****************************
*/


/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*Global settings*/

body, html, main{
  background-color: var(--bg-color); 
  overflow-x: hidden;
}

.container{
  padding:0.625rem;
  margin: auto;
}

/*display-flex*/
.d-flex{
  display: flex;
  flex-direction: column;
}

.align-items-center{
  display: flex;
  align-items: center; 
}

.justify-content-center{
  display: flex;
  justify-content: center;
}

.justify-content-space-around{
  display: flex;
  justify-content: space-around;
}

.justify-content-space-between{
  display: flex;
  justify-content: space-between;
}

.justify-content-space-evenly{
  display: flex;
  justify-content: space-evenly;
}

.btn{
  border: none;
  background: transparent;
}

/*Medium*/
@media (min-width:48rem){
  .container{
    width: 74.25rem;
    position: relative;
  }

  .d-flex{
    display: flex;
    flex-direction: row;
  }
}

/*
*********
Header
*********
*/
#header{
  margin: auto;
  height: 34.688rem;
  margin-bottom: 2.688rem;
}

.header--logo{
  width: 4.366rem;
  height: 3.5rem;
}

.header--image{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  height: 28.438rem;
  width: 100%;
  background: url("/assets/image/image-header-mobile.png") no-repeat center/cover;
}

/*Navigation*/
.icon-mobile{
  font-size: 1.5em;
}

.navbar-mobile{
  display: none;
}

.navbar-mobile.open{
  display: flex;
  flex-direction: column;
  margin-top: 2.95rem;
  gap: 0.625rem;
  background-color: var(--bg-color);
  height: 8.125rem;
  width: 100%;
  position: absolute;
  z-index: 5;
}

.mobile-navigation--link{
  color: var(--headings-color); 
  font-size: 1.25em;
  font-weight: 500;
}

.navigation, .navigation--buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar{
  position: absolute; 
  z-index: 10;
  display: flex;
  flex-direction: row;
}

.navigation--title{
  color: var(--title-color);
  font-weight: 800;
  font-size: 0.875rem;
}

.navigation--link {
  color: var(--headings-color); 
  font-size: 1.25em;
  font-weight: 500;
  display: none;
}

.navigation--item .active{
  border-bottom: 5px solid var(--headings-color);
}

.navigation--icon {
  display: none;
}

.navigation--menu, .navigation--buttons{
  gap: 0.75rem; 
}

/*Buttons*/
.btn--delivery{
  background-color: var(--brand-color);
  border-radius: 2.438rem;
  padding: 0.463rem 1.125rem;
}

.btn--delivery .btn--delivery-link{
  color: #FFF;
  font-size: 1.25em;  
  font-weight: 500;
}

/*Header -- Titles*/

.header-box--titles{
  position: absolute;
  margin-top: 6rem;
}

.h-box-titles--main, .h-box-titles--description, .h-box-titles--text{
  color: var(--headings-color);
}

.h-box-titles--main{
  font-size: 2em;
  width: 22rem;
  line-height: 2.09rem;
}

.h-box-titles--description{
  width: 10.438rem;
  font-weight: 500;
  margin: 0.75rem 0 0 0;
}

.h-box-titles--text{
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width:26.563rem){
  .navigation--menu, .navigation--buttons{
    gap: 1.75rem; 
  }
}

/*MD*/
@media (min-width:45rem){
  .navigation--menu, .navigation--buttons{
    gap: 5.75rem; 
  }
  
  .header--image{
    background: url("/assets/image/imagem-header.png") no-repeat center/cover;
  }
}

/*LG*/
@media (min-width:60rem){
  #header{
    height: 33.125rem;
  }

  .header--logo{
    width: 11.938rem;
    height: 10.563rem;
  }

  .header--image{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    background: url("/assets/image/imagem-header.png") no-repeat center/cover;
    width: 614px;
    height: 530px;
  }

  /*Navigation*/
    .icon-mobile, .mobile-navigation--link{
    display: none;
  }

  .navigation--title{
    font-size: 1.5em;
    margin: 0 2.625rem 0 0;
  }

  .navigation--menu, .navigation--buttons{
    gap: 2.625rem; 
  }

  .nav-bar{
    z-index: 10;
    position: relative;
  }

  .navigation--link {
    display: block;
  }

 /*Buttosn*/
  .btn--delivery{
    padding: 0.625rem 2rem;
  }

  .btn--delivery .btn--delivery-link{
    font-size: 1.25em;  
  }

  /*Header -- Titles*/
  .header-box--titles{
    margin-top: 0rem;
  }

  .h-box-titles--text{
    font-size: 1.5em;
    font-weight: 700;
  }

  .h-box-titles--main{
    font-size: 5em;
    line-height: 5.225rem;
  }

  .h-box-titles--description{
    width: 21.938rem; 
  }
}

/*
******
Coffe
******
*/

#coffe{
  background: url("assets/image/Image-banner-01.png") no-repeat center/contain;
  min-height: 609px;
  width: 100%;
}  

#s-coffe-box--cards{
  gap: 4.375rem;
}

.s-box-coffe{
  border-radius: 3rem;
  width: 100%;
  height: 29.259rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.871rem 1.674rem;
}

/*box-color*/
#color-01{
  background: linear-gradient(203deg, #F6C7C5 4.72%, #C27D7A 102.83%);
}
  
#color-02{
  background: linear-gradient(203deg, rgba(250, 250, 250, 0.95) 4.72%, rgba(84, 21, 17, 0.58) 102.83%);
}

#color-03{
  background: linear-gradient(203deg, rgba(10, 9, 9, 0.95) 4.72%, rgba(84, 21, 17, 0.95) 102.83%);
}

.s-box-coffe--image{
  width: 315.231px;
  height: 186.521px;
}

/*import image*/
#image-coffe-01{
  background: url("/assets/image/image-coffe-1.png");
}

#image-coffe-02{
  background: url("/assets/image/image-coffe-2.png");
}

#image-coffe-03{
  background: url("/assets/image/image-coffe-3.png");
}

.coffe--subtitle, .coffe--title{
  color: var(--headings-color);
}

.coffe-box--text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coffe--title{
  font-size: 2.5rem;
  font-weight: 600;
}

.coffe--line{
  width: 2.485rem;
  height: 0.063rem;
  margin-bottom: 1.162rem;
  background-color: var(--headings-color);
}

.coffe--subtitle{
  margin-bottom: 20px;
  width: 331px;
  text-align: center;
}

.box-coffe--text{
  color: #FFF;
  text-align: center;
}

.b-coffe--title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 29.15px;
}

.b-coffe--subtitle{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 21.24px;
}

.b-coffe--text{
  font-size: 14px;
  font-weight: 400;
}

/*btn*/
.s-box-coffe--button{
  width: 263.784px;
  height: 46.169px;
  border-radius: 25px;
  border: none;
  background: #FFF;
  box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.25);
  margin-top: 29.55px;
}

.s-box-coffe--button a{
  color: #000;
  font-weight: 600;
  line-height: 25.12px; 
}

.coffe--button{
  width: 20.663px;
  height: 62.733px;
  margin: 29.55px 25.85px;
}

.coffe--button a{
  color: var(--headings-color);
  font-weight: 600;
  font-size: 1.125em;
}

@media (min-width:78rem){
  #coffe{
    min-height: 38.063rem;
  }  
  .coffe--subtitle{
    margin-bottom: 1.25rem;
    width: 34.025rem;
    height: 0.616rem;
    text-align: center;
  }

  .coffe--button{
    width: 34.025rem;
    height: 0.616rem;
  }

  .s-box-coffe{
    width: 20.345rem;
  }
}

/*
***********
Croissants
************
*/
#croissants{
  min-height: 100vh;
  padding: 47.75px 0 47.75px 0;
}
#c-image{
  background: url("/assets/image/Image-croissants.png") no-repeat center/cover;
  filter: lightgray 50%;
  width: 296px;
  height: 251px;
}

.c-value{
  width: 109.556px;
  height: 39.512px;
  border-radius: 47px;
  background: #FFF;
  color: #F9C4C4;
  font-size: 20px;
  margin-bottom: 16.85px;
}

.c-line{
  width: 39.764px;
  height: 1px;
  background: #000;
  margin: 15px auto;
}

.c-title, .c-subtitle, .c-text{
color: #3C0E0E;
text-align: center;
}

.c-title{
  font-size: 36px;
}

.c-subtitle{
display: none;
}

.c-text{
text-align: justify;
}

.c-button{
  margin-top: 38.27px;
}

.c-button a{
  color: #3C0E0E;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.12px; 
}

@media (min-width:78rem){
  #c-image{
    width: 503.605px;
    height: 449px;
  }

  .c-line{
    width: 48.594px;
    height: 1px;
    background: #000;
    margin: 0  0  17.96px 0;
  }

  .c-title{
    font-size: 80px;
    line-height: 83.6px; 
  }

  .c-subtitle{
    font-size: 40px;
    font-weight: 500;
    display: block;
  }

  .c-text{
    width: 307.464px;
    margin-top: 13.47px;
  }

}
/*
*******
House
*******
*/
#house{
  color: #FFF;
  border-radius: 3rem;
  background: linear-gradient(203deg, rgba(243, 199, 196, 0.95) 4.72%, rgba(84, 21, 17, 0.95) 81.94%);
  padding: 1.52rem 2.75rem;
  margin: 0.625rem;
}


.h-title{
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

.h-subtitle{
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  height: 7.687rem;
  margin-top: 1.19rem;
}

/*Button*/
.h-btn{
  padding:  0.78rem 6.44rem;
  border-radius: 1.563rem;
  background: #FFF;
  box-shadow: 0rem 0.5rem 0.438rem 0rem rgba(0, 0, 0, 0.25);
}

.h-btn a{
  color: #000;
  text-align: center;
  font-size: 1em;
  font-weight: 600; 
}

@media (min-width:78rem){
  #house{
    color: #FFF;
    width:69.688rem;
    height: 23.045rem;
    margin: auto;
    position: relative;
    display: flex;
    padding: 1.91rem 0rem;
  }

  #h-image{
    background: url("/assets/image/Image-house.png")no-repeat center/cover;
    width: 36.867rem;
    height: 23.696rem;
    position: absolute;
    top: -14rem;
    left: 0rem;
  }
  
  .h-title{
    font-size: 2.7rem;
    font-weight: 700;
  }
  
  .h-subtitle{
    text-align: right;
    width: 26.519rem;
    height: 2.887rem;
  }

  .h-box--text{
    position: absolute;
    left: 39.375rem;
  }

  /*Button*/
  .h-btn{
    margin-top: 2rem;
    float: right;
  }
}

/*
*******
About
*******
*/
#about{
  background: url("/assets/image/Background-mobile.png") no-repeat top/contain;
  color: var(--brand-color2);
}

.a-title{
  font-size: 1em;
  font-weight: 500;
}

.about-title{
  font-size: 1.25em;
  font-weight: 500;
}

.a-subtitle{
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 0.938rem;
}

.a-text{
  font-weight: 400;
  font-size: 1em;
  margin-top: 1.75rem;
}

@media (min-width:78rem){
  #about{
    background: url("/assets/image/Background.png") no-repeat top/contain;
    height: 46.875rem;
    display: flex;
  }

  .a-subtitle{
    padding-right: 9.438rem;
    width: 28.063rem; 
    padding-bottom: 3.125rem;
  }

  .a-text{
    width: 21.125rem;
  }
}

/*
*******
Contact
*******
*/
#contact{
  margin-bottom: 4.663rem;
  position: relative;
}

#c-box-first{
  border-radius: 3rem 3rem 0rem 0rem;
  background: linear-gradient(203deg, rgba(84, 21, 17, 0.66) 4.72%, #F3C7C4 102.83%);
  padding: 1.25rem;
}

.c-box-fist--line{
  width: 2.2rem;
  height: 0.063rem;
  background: #FFF;
}

.c-box-first--title{
  color: #FFF;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.225rem;
  width: 19.297rem;
}

.c-box-first--text:first-of-type{
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.963rem;
}

.c-box-first--text{
  font-weight: 400;
  line-height: 1.57rem;   
  color: #FFF;
  margin-top: 1.055rem;
}

.contact-btn{
  width: 16.875rem;
  height: 1.25rem;
  margin-top: 3.75rem;
}

.contact-btn a{
  color: #3C0E0E;
  font-size: 1em;
  font-weight: 600;
}

.c-box-first--image{
  display: flex;
}

#c-box-first--image{
  background: url("/assets/image/Image.png") no-repeat center / cover;
  width: 10.313rem;
  height: 8.563rem;
}

#c-box-second{
  border-radius: 0rem 0rem 3rem 3rem;
  background: linear-gradient(203deg, #8F423D 4.72%, #FFF 102.83%);
  padding: 1.25rem;
  height: 28.621rem;
}

.c-box-second--title{
  color: #FFF;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
}

.c-box-second-text{
  color: #FFF;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.57rem; 
  margin-top: 2.136rem;
}

.c-box-second--line{
  width: 15.614rem;
  height: 0.063rem;
  background: #FFF;
  margin: 1.76rem auto;
}

.c-box-second--address{
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

#c-box-second--address-icon{
  background: url("/assets/image/icons/icon8-adrress.png")no-repeat center/cover;
  width: 1.438rem;
  height:1.688rem;
}

@media (min-width:78rem){
  #c-box-first{
    border-radius: 3rem 0rem 0rem 4rem;
    padding: 2.628rem 3.311rem;
    width: 46.438rem;
  }

  .c-box-fist--line{
    width: 3.213rem;
    height: 0.063rem;
    background: #FFF;
  }
  
  .c-box-first--title{
    font-size: 5rem;
  }

  .contact-btn{
    width: 11.042rem;
    height: 1.147rem;
  }

  .c-box-second--title{
    font-size: 2.5em;
  }

  #c-box-first--image{
    background: url("/assets/image/Image.png") no-repeat center / cover;
    width: 39.492rem;
    height: 35.16rem;
    position: absolute;
    left: 18rem;
    top: -5.625rem;
  }

  #c-box-second{
    border-radius: 0rem 3rem 3rem 0rem;
    padding: 2.599rem 2.123rem;
  }

  .c-box-second--line{
    width: 17.585rem;
  }

  #c-box-second--address-icon{
    width: 1.869rem;
    height: 2.524rem;
  }
}

/*
********
Footer
********
*/

.f--line{
  background: rgba(0, 0, 0, 0.08);
  height: 0.063rem;
  width: 20.625rem;
  margin: auto;
}

.f--title{
  color: #282828;
  font-size: 1.25em;
  font-weight: 500;
  margin-top: 1.563rem;
}

.f--text, .f--list, .f--list a{
  color: rgba(60, 14, 14, 0.68);
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  width: 19rem;
}

.f--text{
  margin-top: 1.438rem;
}

.f--text:first-of-type{
  margin-top: 0.625rem;
}

.f-box--social-icons{
  display: flex;
  margin-top: 1.375rem;
}

.f--social-icons{
  width: 1.5rem;
  height: 1.5rem;
}

#icons-01{
  background: url("/assets/image/icons/icons8-instagram-24.png");
}
#icons-02{
  background: url("/assets/image/icons/icons8-facebook-24.png");
}
#icons-03{
  background: url("/assets/image/icons/icons8-whatsapp-24.png");
}

@media (min-width:78rem){
  #footer{
    padding-bottom: 4.5rem;
  }

  .f--line{
    width: 69.81294rem;
    margin-bottom: 4.5rem;
  }

  .f--title{
    margin-top: 0;
    margin-bottom: 0.625rem;
  }
}